@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@400;500;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@400;500;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Big Shoulders Display', cursive;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.fath {
    max-width: 250px;
    padding: 40px;
    position: relative;
    border-radius: 7px 0px 0px 7px;
}
.fath p {
    color: hsl(0, 0%, 95%);
}
.father1{
    background-color: hsl(31, 77%, 52%);
}
h1{
    margin: 80px auto 40px;
    color: #fff;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.father2{
    background-color: hsl(184, 100%, 22%);
}
.father3{
    background-color: hsl(179, 100%, 13%);
}
.fath:before {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 40px;
    top: 40px;
}
.father1::before{
    content: url(./images/icon-sedans.svg);
}
.father3::before{
    content: url(./images/icon-luxury.svg);
}
.father2::before{
    content: url(./images/icon-suvs.svg);
} 
.fath a {
    background-color: #fff;
    border-radius: 100px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 70px;
    display: block;
    width: fit-content;
}